body {
    font-family: Arial, Helvetica, sans-serif;
    
}

.outer-scontainer {
    background: #FF9F21;
    border: #e0dfdf 1px solid;
    padding: 20px;
    border-radius: 2px;
    width: auto;
    padding-top: 80px;
}

.input-row {
    margin-top: 0px;
    margin-bottom: 20px;
}

.btn-submit {
    background: #FF9F21;
    border: #333 1px solid;
    /* darker orange #CC6600*/
    color: #333;
    font-size: 0.9em;
    width: 100px;
    
    border-radius: 2px;
    cursor: pointer;
    padding:8px;
    
}

.btn-search {
    border: 1px solid #CC6600;
    color: #fff;
    background-color: #CC6600;
    font-size: 0.9em;
    cursor: pointer;
    padding:6px;
    width: auto;
    border-radius: 10%;
    margin: 0 9px;
}

.btn-area {
    background: #333;
    border: #333 1px solid;
    color: white;
    font-size: 1.0em;
    width: 200px;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.5em;
}

.formsearch{
    display: flex;
    align-items: center;
}

.outer-scontainer table {
    border-collapse: collapse;
    /* width: 180%; */
}

.outer-scontainer th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.outer-scontainer td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

#response {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    display: none;
}

.success {
    background: #c7efd9;
    border: #bbe2cd 1px solid;
}

.error {
    background: #fbcfcf;
    border: #f3c6c7 1px solid;
}

div#response.display-block {
    display: block;
}

.TF.sticky th {
    /* override to position sticky headers underneath page header element */
    top: 50px !important;
}

td,
th {
    word-wrap: break-word;
    text-align: center;
}

a.export,
a.export:visited {
    display: inline-block;
    text-decoration: none;
    background: #CC6600;
    border: #CC6600 1px solid;
    color: #fff;
    padding: 10px;
    border-radius: 2px;
}   

.searchExport {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}
.searchExportEmail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.searchExportEmail p {
    margin: 5px;
}

.navbar {
    display: grid;
    grid-template-columns: 80px 1fr 100px 100px 100px;
    overflow: hidden;
    position: fixed;
    top: 0px !important;
    background-color: #111;
    width: 100%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 16px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    color: #EF8D21;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#mainNav {
    text-align: left;
    color: white;
    font-size: 1.2em;
    
    margin: 15px;
}

/* h2 {
    padding-top: 80px;   
} */

.logo-image img {
    width: 46px;
    height: 46px;
    border-radius: 5%;
    overflow: hidden;
    margin-top: -6px;
}